{% extends 'base.html' %}


{% block title %}index{% endblock title %}

{% block content %}

    <div style="display: flex; justify-content: space-evenly;">
        {% if user.is_authenticated %}
            <a type="button" href="{% url 'accounts:message-create' %}" class="btn btn-secondary">Отправить</a>
            <a type="button" href="{% url 'accounts:logout' %}" class="btn btn-secondary">Выйти</a>
        {% endif %}
    </div>


    {% block registration %}{% endblock registration %}

{% endblock content %}


