{% extends 'base.html' %}

{% block title %} main-view {% endblock title %}

{% block content %}

    <form>
        <label>Найти
            <input type="text" name="search" method="POST">
        </label>
        <input type="submit" value="sech">
    </form>




    <div style="display: flex; justify-content: space-evenly;">
        <form>
            <button type="button" class="btn btn-secondary">Отправить сообщение</button>
        </form>
        <form>
            <button formaction="{% url 'accounts:logout' %}" type="submit" class="btn btn-secondary">Выйти</button>
        </form>
    </div>

{% endblock content %}