{% extends 'base.html' %}


{% block ajax_script %}{% endblock ajax_script %}
{% block title %}index{% endblock title %}

{% block content %}

    <div style="display: flex; justify-content: space-evenly;">
        {% if user.is_authenticated %}
            <form>
                <button type="button" class="btn btn-secondary">Отправить</button>
            </form>

            <form>
                <button formaction="{% url 'accounts:logout' %}" type="submit" class="btn btn-secondary">Выйти</button>
            </form>
        {% endif %}
    </div>
    {% for man in users %} <p>{{ man.pk }}. {{ man.username }}</p> {% endfor %}

    {% block registration %} {% endblock registration %}

{% endblock content %}


