{% extends 'accounts/index.html' %}




{% block registration %}
    <form action="{% url 'accounts:reg' %}" method="post">{% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                <label for=''>{{ field.label }}</label>
                <div>{{ field }}</div>
                {% if field.errors %}
                    <p>{{ field.errors }}</p>
                {% endif %}
            </div>
        {% endfor %}

        <p id='error-mail'></p>
        <button class="btn btn-secondary" id='button_reg' type="submit">Регистрация</button>
    </form>
    <p class="error" id="error_name"></p>
    <p class="error" id="error_email"></p>
    <p class="error" id="error_password"></p>

{% endblock registration %}