{% extends 'base.html' %}

{% block title %} test {% endblock title %}

{% block content %}
    <div style="text-align: center">
        {% include 'includes/messages.html' %}
    </div>

    {% if next %}
        <p>Авторизуйтесь, чтобы отправить сообщение</p>
    {% endif %}

    <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-secondary">Войти</button>
    </form>

    <a href="{% url 'accounts:reg' %}" class="">Зарегистрироваться</a>

{% endblock content %}