{% extends 'base.html' %}

{% block title %} test {% endblock title %}

{% block content %}
    {{ message }}
{#    <div class="form_block">#}
{#        <form class="field_field" action="{% url 'auth:login' %}" method="post" style="margin: 50px">#}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{##}
{#            <input type="hidden" name="next" value="{{ next }}">#}
{#            <input class="field_button" type="submit" value="{% trans 'Войти' %}">#}
{#            <a href="{% url 'auth:register' %}" class="">{% trans 'Зарегистрироваться' %}</a>#}
{#        </form>#}

        <form action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">Войти</button>


        </form>

    <a href="#" class="">Зарегистрироваться</a>


{% endblock content %}