<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/ccs_bootstrap.html' %}
    {% block ajax_script %}{% endblock ajax_script %}
    <meta charset="UTF-8">
    <title>
        {% block title %}AJAX{% endblock title %}
    </title>
</head>
<body>

<div style="width: 25%; height: 60%; margin: auto; margin-top: 5%; background-color: lightseagreen; padding: 50px">
    <div style="text-align: center">
        {% include 'includes/messages.html' %}
    </div>
    {% block content %}NONE CONTENT on base{% endblock content %}
</div>

{% include 'includes/js_bootstrap.html' %}
</body>
</html>